<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="main.css" >
    <script src="main.js"></script>

    <!-- adding p5js -->
    <script src="p5.js"></script>
    <script src="p5.dom.js"></script>

    
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->

    <title>What's Your Favorite Animal?</title>
</head>
<body>
  <h1>What's Your Favorite Animal?</h1>
  <h2>Click on your favorite animal. </h2>
  <p>We'll tell you how popular it is!</p>
  <section id = "animals">
    <div id = "First__line__animal">
      <div>
        <input type="image" id="cat" alt="Cat" value="animal_1"
     src="/assets/cat.png">
     <p class = "animal__name">Cats</p> </div>

      <div>
          <input type="image" id = "dog" alt="dog" value="animal_2"
          src="/assets/dog.png">     
          <p class = "animal__name">Dogs</p></div>
    </div>

    <div id = "Second__line__animal">

      <div>
          <input type="image" id = "bird" alt="birds" value="animal_3"
          src="/assets/bird.png">          
          <p class = "animal__name">Birds</p> </div>
      <div >
          <input type="image" id = "fish" alt="fishes" value="animal_4"
          src="/assets/fish.png">          
          <p class = "animal__name">Fishes</p></div>
    </div>

  </section>
      
  <div id = "show__voted">
    <p id = voted__p></p>
    <p id = voted value="1"></p>
  </div>

  

  <div id = "linea1"  >
</div> 


    <section>
       
    <h2 id = "h2__ShowVotes">How many votes do they have?</h2>
    <section id = "show__total">
       
        

    <section id = "show__graph">
        <div id = "graph">

        </div>
    </section>


<section id = "show__info">
    <h3 id = "title__total"> Total Votes </h3>

    <section id = "info">

        <div id = First__line__info>
            <ul>
                <li id = catNum value="1"></li>
                <li>Cats</li>
        </ul>

            <ul >
                <li id = dogNum value="1"></li>
                <li>Dogs</li>
                
                
            </ul>
        </div>

        <div id = Second__line__info>
            <ul>                
                <li id = birdNum value="1"></li>
                <li>Birds</li>
            </ul>

            <ul>
                <li id = fishNum value="1"></li>
                <li>Fishes</li>
                
            </ul>
        </div>

        </section>

    </section>

</section>
</section>
<section>

  <div id = "linea2" >
  </div> 
  <footer>
      <p class = "references">Images from <a href="https://unsplash.com/">Unsplash</a></p>
  </footer>
</section>
</body>
</html>